.infinity {
  transition: 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition-property: filter;
  overflow: hidden;
}

.loop {
  display: flex !important;

  width: fit-content;
  animation-name: loop;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: var(--direction);
  animation-duration: var(--duration);
}

@keyframes loop {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
