@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter-sans);
  --color-primary-500: #cc0036;
  --color-primary-600: #282828;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: #151515;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 130px;
  color: var(--foreground);

  display: flex;
  flex-direction: column;
  /* grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, auto); */
}
