.box-shadow {
  position: relative;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(217, 217, 217, 0) 0%,
    #000 100%
  );
}

.glassmorphism {
  background: rgba(255, 255, 255, 0.1);
}
